body {
    font-family: 'Play-Regular', sans-serif;
    background-color: $color-primario;
    color: $color-texto;
    line-height: 1;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 400;
    .backColorNav{
        background-color: black;
    }
    #videoFondo {
        top: 0;
        bottom: 30px;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .tituloPrincipal{
        font-size: 6rem;
        color: $color-texto;
        text-align: center;
        background: rgb(0,0,0);
        background-image: linear-gradient(to bottom, #000000, #080707, #100e0e, #151313, #1a1717);
    }
    .tituloSecundario{
        font-size: 2rem;
        color: $color-texto;
        text-align: center;
    }
}
.bn-image {
    filter: grayscale(100%);
    transition: filter 0.1s;
}
.bn-image:hover {
    filter: grayscale(0%);
}
