*{
    margin: 0;
    padding: 0;
    bottom: 0;
    box-sizing: border-box;
}
@font-face {
    font-family: 'Play-Regular';
    src: url(../assets/fonts/Play-Regular.ttf) format('truetype');
}
@font-face {
    font-family: 'PermanentMarker-Regular';
    src: url(../assets/fonts/PermanentMarker-Regular.ttf) format('truetype');
}