.estasListo {
    font-family: 'PermanentMarker-Regular', sans-serif;
    display: inline;
    color: white;
    .listo{
        text-align: center;
        font-size: 50px;
    }
}
.textoBody{
    color: gray;
}
.textoShop{
    text-align: center;
}
.link{
    font-size: 20px;
    color: gray;
    text-decoration: none;
    margin: 5px;
}
.alien{
    text-align: center;
    font-size: 18px;  
    margin-bottom: 10px;
}
