.textoBody{
    color: gray;
    line-height: 1.6;
}
.textoShop{
    text-align: center;
}
.textBlack{
    color: black;
}
h3{
    text-align: center;
    font-size: 50px;
    margin-bottom: 40px;
    margin-top: 20px;
}
h4{
    font-size: 40px;
    margin-top: 20px;
}

